<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <svg id="stars" style="display: none;" version="1.1">
    <symbol id="stars-full-star">
      <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218" />
    </symbol>

    <symbol id="stars-half-star">
      <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792" fill="#e9ba26" />
    </symbol>

    <symbol id="stars-filled-full-star" fill="#e9ba26" viewBox="0 0 20 20">
      <use xlink:href="#stars-full-star" />
    </symbol>
    <symbol id="stars-empty-full-star" fill="#9b9b9b" viewBox="0 0 20 20">
      <use xlink:href="#stars-full-star" />
    </symbol>
    <symbol id="stars-filled-half-star" viewBox="0 0 20 20">
      <use xlink:href="#stars-empty-full-star" fill="#9b9b9b" />
      <use xlink:href="#stars-half-star" fill="#e9ba26" />
    </symbol>

    <symbol id="stars-all-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-full-star" />
      <use xlink:href="#stars-full-star" transform="translate(21)" />
      <use xlink:href="#stars-full-star" transform="translate(42)" />
      <use xlink:href="#stars-full-star" transform="translate(63)" />
      <use xlink:href="#stars-full-star" transform="translate(84)" />
    </symbol>

    <symbol id="stars-0-0-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-all-star" fill="#9b9b9b" />
    </symbol>

    <symbol id="stars-0-5-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-0-0-star" />
      <use xlink:href="#stars-half-star" />
    </symbol>

    <symbol id="stars-1-0-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-0-0-star" />
      <use xlink:href="#stars-full-star" fill="#e9ba26" />
    </symbol>

    <symbol id="stars-1-5-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-1-0-star" />
      <use xlink:href="#stars-half-star" transform="translate(21)" />
    </symbol>

    <symbol id="stars-2-0-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-1-0-star" />
      <use xlink:href="#stars-full-star" fill="#e9ba26" transform="translate(21)" />
    </symbol>

    <symbol id="stars-2-5-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-2-0-star" />
      <use xlink:href="#stars-half-star" transform="translate(42)" />
    </symbol>

    <symbol id="stars-3-0-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-2-0-star" />
      <use xlink:href="#stars-full-star" fill="#e9ba26" transform="translate(42)" />
    </symbol>

    <symbol id="stars-3-5-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-3-0-star" />
      <use xlink:href="#stars-half-star" transform="translate(63)" />
    </symbol>

    <symbol id="stars-4-0-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-3-0-star" />
      <use xlink:href="#stars-full-star" fill="#e9ba26" transform="translate(63)" />
    </symbol>

    <symbol id="stars-4-5-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-4-0-star" />
      <use xlink:href="#stars-half-star" transform="translate(84)" />
    </symbol>

    <symbol id="stars-5-0-star" viewBox="0 0 102 18">
      <use xlink:href="#stars-all-star" fill="#e9ba26" />
    </symbol>
  </svg>

<div>
  <h1>The Minimalist Entrepreneur</h1>
  <div>
    <div class="ratingContainer">
      <div class="ratingNumber"><%= "#{'%.1f' % @rating}" %></div>
      <div class="iconContainer">
        <svg class="icon">
          <use xlink:href="#stars-<%= @rating.round %>-0-star">
        </svg>
      </div>
      <div>
        <a class="button" href="#ex1" rel="modal:open">Add review</a>
      </div>
    </div>
    <hr class="separator" />
    <div>
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="reviewContainer">
          <div>
            <svg class="reviewIcon">
              <use xlink:href="#stars-<%= review.rating.to_i %>-0-star">
            </svg>
          </div>
          <div class="reviewRating"><%= review.rating.to_i %></div>
          <div class="reviewContent">, <%= review.body %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="ex1" class="modal">
  <script>
    function setRating(rating) {
      var container = document.getElementById('modalIconContainer');
      for (var i=0; i < container.children.length; i++) {
        var child = container.children[i];
        var href = i <= rating - 1 ? '#stars-filled-full-star' : '#stars-empty-full-star';
        child.firstElementChild.setAttribute('xlink:href', href);
      }
      document.getElementById('reviewRatingInput').value = rating;
    }
  </script>
  <form action="" method="post">
    <h1>What's your rating?</h1>
    <section>
      <h2>Rating<h2>
      <div id="modalIconContainer" class="modalIconContainer">
        <svg class="modalIcon" onclick="javascript:setRating(1)">
          <use xlink:href="#stars-empty-full-star">
        </svg>
        <svg class="modalIcon" onclick="javascript:setRating(2)">
          <use xlink:href="#stars-empty-full-star">
        </svg>
        <svg class="modalIcon" onclick="javascript:setRating(3)">
          <use xlink:href="#stars-empty-full-star">
        </svg>
        <svg class="modalIcon" onclick="javascript:setRating(4)">
          <use xlink:href="#stars-empty-full-star">
        </svg>
        <svg class="modalIcon" onclick="javascript:setRating(5)">
          <use xlink:href="#stars-empty-full-star">
        </svg>
      </div>
      <input class="reviewRatingInput" type="text" name="review[rating]" id="reviewRatingInput" required />
    </section>
    <section>
      <h2>Review<h2>
      <textarea name="review[body]" class="reviewBodyInput" placeholder="Start typing..." required></textarea>
    </section>
    <div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button class="button" type="submit">Submit review</a>
    </div>
  </form>
</div>